.advantages {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include desktop-desktop {
      margin-left: 300px;
      flex-direction: row;
      gap: 170px;
    }
    & .cards-mini {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 236px));
    }
  }
}
