.complex {
  &__content {
    @include desktop-tablet {
      margin-left: $space-l-t;
      display: flex;
      gap: 80px;
    }
    @include desktop-laptop {
      margin-left: $space-l-l;
      display: flex;
      gap: 80px;
    }
    @include desktop-desktop {
      margin-left: $space-l-d;
      display: flex;
      gap: 80px;
    }
    &-image {
      display: none;
      @include desktop-tablet {
        display: block;
        margin-top: 60px;
        width: 170px;
        height: 120px;
      }
      @include desktop-laptop {
        width: 235px;
        height: 160px;
      }
      @include desktop-desktop {
        width: 670px;
        height: 470px;
      }
    }
  }
  .about-work__list {
    @include desktop-tablet {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
