.documents-homeowners {
  &__content {
    @include desktop-desktop {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 30px;
    }

    & .card-about {
      @include desktop-desktop {
        grid-column: 2 span / 2 span;
      }
    }
  }
  &__top {
    margin-bottom: 40px;
    @include desktop-tablet {
      margin-bottom: 30px;
    }
  }

  .download__links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include desktop-tablet {
      flex-direction: row;
    }
    @include desktop-desktop {
      flex-direction: column;
      gap: 44px;
    }
  }
}
