.mortgage {
  @include desktop-sm {
    padding-bottom: 120px;
  }
  &__content {
    @include desktop-sm {
      display: flex;
      gap: 120px;
      justify-content: space-between;
    }
  }
  &__bottom {
    @include desktop-sm {
      padding-top: 120px;
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__text {
    @include desktop-sm {
      font-size: 26px;
      line-height: 120%;
    }
  }
  &__accordion {
    @include desktop-sm {
      margin-top: 90px;
      margin-left: 300px;
      width: calc(100% - 300px);
    }
    &-title {
      color: #fff;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 120%;
      @include desktop-sm {
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 40px;
      }
    }
  }
  &__calc {
    @include desktop-sm {
      max-width: 610px;
    }
  }
  &__secret {
    &-content {
      padding-top: 20px;
      @include desktop-sm {
        padding: 20px 55px 0;
      }
      & > p {
        font-weight: 500;
        color: #b5b9be;
        font-size: 10px;
        line-height: 100%;
        @include desktop-sm {
          font-size: 12px;
          line-height: 130%;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
          @include desktop-sm {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
