.news-item {
  &__news {
    display: none;
    @include desktop-desktop {
      display: block;
    }
  }
  &__link {
    @include desktop-desktop {
      display: none;
    }
  }

  .navigation__card {
    & > img {
      @include desktop-laptop {
        height: 396px;
      }
      @include desktop-desktop {
        height: 760px;
      }
    }
  }
}
