.built {
  padding: 15px 0 40px 0;

  &__number {
    font-weight: 700;
    color: $accent;
    margin: 0;
    font-size: 96px;
    line-height: 113px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__image {
    width: 100%;
    margin-bottom: 31px;
  }
  &__dropdowns-title {
    margin-bottom: 14px;
  }
  &__title {
    display: block;
    margin-left: 12px;
    margin-top: 25px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;
  }
}
