@property --percent {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --temp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --v1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.built {
  padding: 15px 0 40px 0;
  @include desktop-tablet {
    padding: 32px 0 40px;
  }
  @include desktop-laptop {
    padding: 54px 0 40px;
  }
  @include desktop-desktop {
    padding: 80px 0;
  }
  &__wrapper {
    @include desktop-tablet {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 10px;
    }
    @include desktop-laptop {
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

      & > * {
        max-width: 270px;
        width: 100%;
        // flex-basis: 270px;
        margin: 0;
      }
    }

    .button {
      @include desktop-tablet_to_laptop {
        margin-top: 0;
        justify-self: center;
        grid-column: 4 span / 4 span;
      }
    }
  }
  &__counter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    @include desktop-tablet {
      margin: 0 auto;
      grid-template-columns: repeat(5, 1fr);

      grid-template-areas:
        "A A B B B"
        "C C B B B";
    }
    @include desktop-laptop {
      max-width: 1500px;
      grid-template-columns: repeat(4, 1fr);

      grid-template-areas:
        "A A B B"
        "C C B B";
    }
    & .built__title {
      @include desktop-tablet {
        grid-area: A;
        place-self: center;
        justify-self: flex-start;
      }
    }
    & .built__image {
      grid-column: 2 span / 2 span;
      @include desktop-tablet {
        grid-area: C;
        margin: 0;
        margin-top: 10px;
      }
      @include desktop-laptop {
        height: 90px;
      }
      @include desktop-desktop {
        height: auto;
        margin-top: 30px;
      }
    }

    & .built__number {
      @include desktop-tablet {
        place-self: end;
        grid-area: B;
      }
      @include desktop-laptop {
        place-self: start;
      }
    }
  }
  &__number {
    font-weight: 700;
    color: $accent;
    margin: 0;
    font-size: 84px;
    line-height: 99px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include desktop-tablet {
      font-size: 160px;
      line-height: 189px;
    }
    @include desktop-laptop {
      font-size: 221px;
      line-height: 261px;
    }
    @include desktop-desktop {
      margin-bottom: 15px;
      font-size: 370px;
      line-height: 437px;
    }
  }

  .animate-number {
    font-weight: 700;
    color: $accent;
    margin: 0;
    font-size: 84px;
    line-height: 99px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include desktop-tablet {
      font-size: 160px;
      line-height: 189px;
    }
    @include desktop-laptop {
      font-size: 221px;
      line-height: 261px;
    }
    @include desktop-desktop {
      margin-bottom: 15px;
      font-size: 370px;
      line-height: 437px;
    }
    transition: --percent 1s;
    --temp: calc(var(--percent));
    --v1: max(var(--temp) - 0.5, 0);
    counter-reset: v1 var(--v1);
  }
  .animate-number::before {
    content: counter(v1);
  }

  &__image {
    width: 100%;
    margin-bottom: 31px;
  }
  &__drop {
    @include desktop-tablet {
      background-color: $secondary;
      padding: 30px 20px;
      border-radius: 12px;
    }
    @include desktop-laptop {
      padding: 38px 20px;
    }
    @include desktop-desktop {
      padding: 70px 150px;
    }
  }
  &__dropdowns-title {
    margin-bottom: 14px;
    @include desktop-tablet {
      color: #fff;
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 17px;
    }
    @include desktop-laptop {
      margin-bottom: 20px;
    }
    @include desktop-desktop {
      font-size: 48px;
      line-height: 100%;
      margin-bottom: 30px;
    }
  }

  &__title {
    display: block;
    letter-spacing: 0;
    // margin-left: 12px;
    margin-top: 25px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;
    @include desktop-tablet {
      font-size: 24px;
      line-height: 100%;
    }
    @include desktop-laptop {
      font-size: 36px;
      line-height: 100%;
    }
    @include desktop-desktop {
      font-size: 48px;
      line-height: 100%;
    }
  }
}
