svg {
  box-sizing: border-box;
}

.diagram {
  background-color: $secondary;
  position: relative;
  padding-bottom: 40px;

  @include desktop-sm {
    padding-bottom: 20px;
  }

  &__accordion > h3 {
    color: #fff;
  }

  &__number-content {
    position: absolute;
  }

  &__top {
    padding-left: 13px;
    margin-left: 50px;
    padding-top: 80px;

    @include desktop-sm {
      padding-top: 130px;
      margin-left: 300px;
      padding-left: 0;
    }
  }

  &__title {
    z-index: 9;
    margin-bottom: 10px;

    @include desktop-sm {
      margin-bottom: 40px;
    }

    & > span {
      padding-top: 9px;
      padding-right: 11px;
    }
  }

  &__text {
    color: #e5e7ea;
    display: inline-block;
    // margin-left: 61px;
    font-size: 16px;
    align-self: flex-start;

    @include desktop-sm {
      font-size: 26px;
      line-height: 31px;
      margin-left: 0;
    }
  }

  &__line {
    &-top,
    &-bottom {
      position: absolute;
      background-color: $primary;
    }

    &-top {
      top: 0;
      left: 20px;
      width: 1px;
      height: 40px;
    }

    &-bottom {
      bottom: 0;
      left: 20px;
      width: 1px;
      height: 160px;
    }
  }

  &__number {
    position: absolute;
    top: 40px;

    @include desktop-sm {
      top: 80px;
    }
  }

  &__number-content {
    position: absolute;
    left: 7px;
    z-index: 9;

    @include desktop-sm {
      left: 60px;
    }
  }

  &__bottom {
    text-align: center;
    // position: relative;
  }

  &__image {
    height: 40%;

    // position: absolute;
    // right: -16px;
  }

  &__logo {
    width: 62px;
    height: 32px;
    transform: translate(-31px, -16px);
  }
}

.survey__wrapper {
  position: relative;

  @include desktop-sm {
    margin-left: 300px;
  }

  & > .popup {
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: rgba(33, 37, 41, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 30px 22px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.7s ease;

    opacity: 0;

    @include desktop-sm {
      max-width: 300px;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: translate(-50%, -50%);
      top: 0%;
      padding: 19px;
    }

    &_active {
      opacity: 1;
      z-index: 11;
    }
  }
}

.survey__list {
  position: relative;

  @include desktop-sm {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 570px));
    gap: 10px 30px;
  }
}
