.header {
  background-color: $secondary;
  // padding-top: 20px;
  // padding-bottom: 40px;
  height: 100vh;
  position: relative;
  // overflow: hidden;

  &-main {
    @include desktop-tablet {
      height: 900px;
    }

    @include desktop-laptop {
      height: 500px;
    }

    @include desktop-desktop {
      height: 740px;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &.flex-column,
  &.header-column {
    @include desktop-tablet_to_laptop {
      height: auto;
    }

    @include desktop-laptop_to_desktop {
      height: auto;
    }
  }

  &__slider {
    &_d {
      display: none;

      @include desktop-tablet {
        display: flex;
      }
    }

    &_m {
      @include desktop-tablet {
        display: none;
      }
    }
  }

  & > .container {
    // height: 100%;
  }

  &__trigger {
    display: flex;
    gap: 21px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    align-items: center;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 31px;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 64px;

    @include desktop-laptop {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      display: grid;
      padding-top: 14px;
      padding-bottom: 14px;
      height: 70px;

      @include desktop-desktop {
        height: 100px;
      }

      & .header__trigger,
      & .logo,
      & .header__contacts {
        grid-column: span 2 / span 2;
      }

      & .header__trigger {
        order: 1;
      }

      & .logo {
        order: 2;
        justify-self: center;

        @include desktop-laptop_to_desktop {
          width: 144px;
          height: 36px;
        }
      }

      & .logo > img {
        @include desktop-desktop {
          width: 205px;
          height: 50px;
        }
      }

      & .header__contacts {
        order: 3;
        justify-self: end;
      }
    }

    &_fixed {
      position: fixed;
      top: 0;
      z-index: 99 !important;
      width: 100%;
      opacity: 0;
      transition: opacity 0.2s ease;

      &-open {
        opacity: 1;
      }
    }

    &_absolute {
      position: absolute;
      width: 100%;
      // top: 16px;
      z-index: 10;
    }

    &_white {
      background-color: #fff;
      z-index: 10;
      box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 35%);

      & .header__trigger,
      & .header__contact {
        color: $black;
      }

      & .menu-trigger {
        & span {
          background-color: $secondary;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;

    &_between {
      justify-content: space-between;
    }

    &.video {
      .video__wrapper {
        @include desktop-tablet_to_laptop {
          flex-direction: column;
          gap: 20px;
        }
        @include desktop-desktop {
          gap: 20px;
        }
      }

      .video__top {
        @include desktop-tablet_to_laptop {
          order: 1;
          width: calc(100% + 2 * #{$gap-t});
          margin: 0 #{-$gap-t};
        }

        @include desktop-laptop_to_desktop {
          width: 578px;
        }

        &-image {
          @include desktop-tablet_to_laptop {
            height: 768px;
          }
        }
        @include desktop-desktop {
          flex-grow: 1;
        }
      }

      .video__bottom {
        margin-bottom: 0;
        gap: 40px;
        justify-content: flex-start;
        margin-top: 54px;

        @include desktop-tablet {
          gap: 0;
        }

        @include desktop-tablet_to_laptop {
          order: 2;
          width: 100%;
        }

        @include desktop-desktop {
          margin-top: 120px;
        }

        &-buttons {
          @include desktop-tablet_to_laptop {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .video__buttons {
        @include desktop-laptop_to_desktop {
          max-width: 230px;
          gap: 10px;
          flex-direction: column;
        }
      }

      .video__top-image {
        @include desktop-tablet {
          margin-left: 0;
        }

        @include desktop-desktop {
          height: calc(100vh - 100px);
        }
      }

      .video__block-info {
        @include desktop-tablet_to_laptop {
          justify-content: flex-start;
          width: 50%;
        }
      }

      .video__content {
        &-bottom {
          display: flex;
          flex-direction: column;
          gap: 49px;

          @include desktop-tablet_to_laptop {
            flex-direction: row;
            gap: 57px;
            align-items: flex-end;
          }

          @include desktop-laptop {
            gap: 30px;
          }

          @include desktop-desktop {
            gap: 40px;
          }

          .video__buttons {
            @include desktop-tablet_to_laptop {
              gap: 4px;
              flex-shrink: 0;
            }
          }
        }
      }

      .video__location {
        @include desktop-desktop {
          position: absolute;
          top: 65px;
          margin: 0;
        }
      }

      .info {
        @include desktop-desktop {
          top: -46px;
        }
      }
    }
  }

  &__contacts {
    display: none;

    @include desktop-laptop {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  &__contact {
    color: #fff;

    &.contact {
      text-align: left;
      align-self: baseline;
      display: block;

      @include desktop-tablet {
        font-size: 12px;
        line-height: 160%;
      }

      @include desktop-desktop {
        font-size: 16px;
        line-height: 180%;
      }
    }
  }

  .project-header {
    &__top {
      padding-top: 80px;
    }

    &__bottom {
      padding-bottom: 40px;
    }
  }

  .carousel {
    height: 100%;
    /* margin: auto 0; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include desktop-tablet {
      justify-content: center;
    }

    &__title {
      margin-bottom: 20px;

      text-transform: uppercase;
      font-family: "DinCyMd", sans-serif;
      letter-spacing: 0.01em;

      @include desktop-tablet {
        margin-bottom: 20px;
        letter-spacing: -0.03em;
        margin-top: 160px;
      }

      @include desktop-desktop {
        margin-bottom: 30px;
      }

      & > a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__text {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      justify-content: space-between;

      @include desktop-tablet {
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 130%;
      }

      @include desktop-desktop {
        font-size: 26px;
        margin-bottom: 40px;
        line-height: 120%;
      }
    }

    &__btn {
    }
  }

  & .video__top-image {
    @include desktop-desktop {
      // min-width: 960px;
    }
  }

  &-built {
    height: 100%;
    padding-top: 100px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    &__image {
      @include desktop-desktop {
        display: none;
      }

      &_desktop {
        display: none;

        @include desktop-desktop {
          display: block;
          padding: 0 150px;
        }
      }
    }

    & .built__drop {
      margin-top: 40px;

      @include desktop-desktop {
        margin-top: 0px;
      }

      & .built__dropdowns-title {
        color: #fff;
      }
    }
  }
}

.header-region {
  &__top {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;

    @include desktop-tablet {
      margin-bottom: 30px;
      flex-direction: row;
      gap: 150px;
      align-items: flex-end;
    }

    &-left,
    &-right {
      display: flex;
    }

    &-left {
      gap: 14px;

      @include desktop-tablet {
        align-items: flex-end;
      }
    }

    &-right {
      gap: 24px;

      @include desktop-tablet {
        gap: 35px;
      }
    }
  }

  &__title {
    @include desktop-tablet {
      line-height: 85%;
    }
  }
}
