.ready {
  background-color: $secondary;
  position: relative;
  padding-bottom: 20px;
  @include desktop-tablet {
    padding-bottom: 0;
  }

  &__title {
    position: absolute;
    bottom: 3px;
    left: 18px;
    z-index: 9;
    @include desktop-tablet {
      bottom: 120px;
      left: 150px;
    }
    & > span {
      padding-top: 9px;
      padding-right: 27px;
      padding-left: 14px;
    }
  }

  &__line {
    &-top,
    &-bottom {
      position: absolute;
      background-color: $primary;
    }

    &-top {
      top: 0;
      left: 20px;
      width: 1px;
      height: 40px;
      @include desktop-tablet {
        left: 70px;
        height: 80px;
      }
    }

    &-bottom {
      // bottom: 0;
      // left: 20px;
      // width: 1px;
      // height: 160px;
      // @include desktop-laptop {
      display: none;
      // }
    }
  }

  &__number {
    position: absolute;
    left: 7px;
    top: 40px;
    @include desktop-tablet {
      top: 80px;
    }
  }

  &__number-content {
    position: absolute;
    // height: 100%;
    // width: 100%;
    z-index: 9;
  }

  &__content {
    @include desktop-tablet {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: -$gap-m;
    @include desktop-tablet {
      grid-column: 12 span / 12 span;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin: 0;
    }
    @include desktop-laptop {
      grid-column: 9 span / 9 span;
      grid-template-columns: repeat(8, 1fr);
    }
    @include desktop-desktop {
      grid-template-columns: repeat(9, 1fr);
      grid-column: 10 span / 10 span;
    }
  }

  &__icon {
    transform: translateY(-20px);

    @include desktop-tablet {
      width: 157px;
      grid-column: 3 span / 3 span;
      transform: translate(0px, 120px);
    }
    @include desktop-desktop {
      width: 100%;
    }
  }

  &__image {
    @include desktop-tablet {
      height: 312px;
      max-height: 312px;
      max-width: 505px;
      width: 100%;
      justify-self: flex-end;
      margin-right: -$gap-t;
      grid-column: 9 span / 9 span;
    }

    @include desktop-laptop {
      height: 310px;
      max-height: 310px;
      max-width: 440px;
      width: 440px;
      grid-column: 5 span / 5 span;
      margin: 0;
    }

    @include desktop-desktop {
      height: 700px;
      max-height: 700px;
      max-width: 990px;
      width: 990px;
      grid-column: 6 span / 6 span;
    }
  }

  &__bottom {
    padding-left: 21px;
    display: flex;
    justify-content: end;
    @include desktop-tablet {
      display: none;
    }

    @include desktop-laptop {
      grid-column: 3 span / 3 span;
      width: 100%;
      margin: 0 auto;
      flex-shrink: 0;
      margin-right: -$gap-t;
      display: flex;
      flex-direction: column;
      padding-bottom: 55px;
    }
    @include desktop-laptop {
      display: flex;
      flex-direction: column;
    }
    @include desktop-desktop {
      grid-column: 2 span / 2 span;
      padding-bottom: 120px;
    }

    &-title {
      color: #fff;
      margin-right: 15px;
      // margin-top: 15px;
    }
  }
}
