.sculpture {
  background-color: #000;
  padding-top: 47px;
  padding-bottom: 40px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 47px;
    background-color: $brown;
    right: 50%;
    top: 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
  }
  &__title {
    font-family: MrPalkerDadsonCondL, sans-serif;
    color: $brown;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    z-index: 10;
    &-wrapper {
      flex-shrink: 0;
      //   position: relative;
    }
    &-image {
      position: absolute;
      height: 100%;
      right: 0;
      // width: 83px;
      // height: 83px;
      // border-radius: 50%;
      display: block;
      // clip-path: polygon(9px 0%, 100% 0%, 100% 100%, 9px 100%);
    }
  }

  &__image {
    right: 0;
    margin-right: -16px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    img {
      width: 100%;
    }
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/dots.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      // background: red;
      width: 70%;
      height: 100%;
      top: -45px;
      right: 0;
      z-index: 100;
    }
  }
  &__text {
    color: #b5b9be;
    font-size: 16px;
    line-height: 21px;
  }
}
