.gallery {
  display: flex;
  flex-direction: column;
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__img {
    position: relative;
    margin-bottom: 10px;
    & > img {
      width: 100%;
    }
  }
  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.alternative {
  border-radius: 4px;
  border: 1px solid $border;
  padding: 30px 10px;
  text-align: center;
}
.review {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  p {
    font-size: 16px;
    line-height: 130%;
  }
}
.link {
  &-vacance {
    padding: 40px 21px;
    background-color: $accent;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    p {
      font-size: 18px;
      line-height: 120%;
    }
  }
}

.card {
  &-about {
    border-radius: 4px;
    overflow: hidden;
    &__top {
      padding: 30px 21px;
      background-color: #f2f2f2;
      color: $black;
      font-size: 16px;
      line-height: 130%;
    }
    &__img {
      width: 100%;
    }
  }
}

.cards {
  &-mini {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 30px;

    .mini {
      text-align: center;
      &__block {
        border-radius: 4px;
        text-align: center;
        padding-top: 19px;
        padding-bottom: 14px;
        &_border {
          border: 1px solid #c3cad1;
        }
      }
      &__icon {
        border-radius: 9999px;
        width: 64px;
        height: 64px;
        border-radius: 99999px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 14px;
        object-fit: none;
        &_lg {
          width: 72px;
          height: 72px;
        }
        &_secondary {
          background-color: $secondary;
        }
        &_primary {
          background-color: $primary;
        }
      }
      &__title {
        margin-bottom: 4px;
      }
      &__top {
      }
      &__bottom {
      }
    }
  }
}

.text {
  &__italic {
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #8f959b;
  }
  &__color {
    &-secondary {
      color: $secondary;
    }
    &-primary {
      color: $primary;
    }
  }
}

.check {
  &-item {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &__left {
      margin-right: 16px;
    }
    &__right {
    }
  }
}

//section

//about-work
.about-work {
  &__images {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__icon {
    width: 139px;
    height: 157px;
  }
  &__img {
    width: 155px;
    height: 175px;
    margin-right: -$gap-m;
  }
  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__left {
    flex-shrink: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $primary;
    margin-right: 18px;
  }
  &__right {
    & > h4 {
      margin-bottom: 6px;
    }
  }
}

.road-map {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      padding-bottom: 70px;
      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 30px;

        background-image: url("../img/icons/dotted.svg");
        background-repeat: no-repeat;
        bottom: 20px;
      }
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }
}
