$pagColor: #c3cad1;
$pageColorActive: #0099e0;

.swiper {
  width: 100%;
  height: 100%;
  // padding-bottom: 50px;
  // @include desktop-sm {
  //   padding-bottom: 0;
  // }
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  // height: calc((100% - 30px) / 2) !important;

  &_pb {
    padding-bottom: 85px;
  }

  &__title {
    &_ty {
      &--30 {
        transform: translateY(-30px);
      }
    }
  }

  &__text {
    margin-top: 14px;
    @include desktop-sm {
      font-size: 18px;
      line-height: 140%;
      max-width: 300px;
      margin-top: 40px;
    }
  }

  &__list {
    margin-top: 14px;
    @include desktop-sm {
      margin-top: 20px;
    }
  }

  &__item {
    position: relative;
    padding-left: 10px;
    @include desktop-sm {
      padding-left: 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 180%;
    }
    &::after {
      position: absolute;
      content: "\2022";
      color: #fff;
      left: 0;
      top: 0;
    }
  }
}

/* .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      } */
.swiper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-card {
    @include desktop-sm {
      display: none;
    }
  }

  & * .button {
    width: auto;
  }

  &-wrapper_pb {
    padding-bottom: 85px;
  }
}

// .carousel > .button {
//     width: auto;
// }
.swiper-pagination {
  display: flex;

  justify-content: center;

  .pag {
    // display: block;
    vertical-align: baseline;
    text-align: center;
    position: relative;
    margin: 0 6px;
    width: 43px;
    display: block;
    color: $pagColor;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: -8px;
      // transform: translateX(25%);
      height: 1px;
      width: 100%;
      background-color: $pagColor;
    }

    &-active {
      color: $pageColorActive;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        // transform: translateX(25%);
        height: 1px;
        width: 100%;
        background-color: $pageColorActive;
      }
    }
  }
}

.swiper {
  &-dots {
    display: flex;

    .dot {
      width: 8px;
      height: 8px;
      background-color: $pagColor;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 6px;
      }

      &-active {
        background-color: $accent;
      }

      &__lg-red {
        width: 8px;
        height: 8px;
        background-color: $pagColor;
        border-radius: 50%;

        &:not(:last-child) {
          margin-right: 6px;
        }

        &-active {
          background-color: $accent;
        }
      }
    }
  }
  & .paginate-center {
    margin: 0 auto;
  }
  &-numbs {
    position: absolute;
    text-align: center;
    bottom: 0 !important;
    padding-top: 9px;
    margin-top: 20px;
    @include desktop-sm {
      margin-top: 60px;
    }
    &_start {
      @include desktop-sm {
        text-align: left;
      }
    }
    &_mt {
      &--10 {
        margin-top: -10px;
      }
    }

    &_position {
      position: absolute;
      bottom: 0;
      z-index: 10;
      @include desktop-sm {
        bottom: 45px !important;
      }
    }

    .numb {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      margin-right: 6px;
      vertical-align: baseline;
      text-align: center;
      position: relative;
      margin: 0 6px;
      min-width: 43px;
      display: block;
      color: $pagColor;
      display: inline-block;
      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: -8px;
        // transform: translateX(25%);
        height: 1px;
        width: 100%;
        background-color: $pagColor;
      }

      &-active {
        color: $pageColorActive;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          // transform: translateX(25%);
          height: 1px;
          width: 100%;
          background-color: $pageColorActive;
        }
      }
    }
  }

  &-prev,
  &-next {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;
    width: 9px;
    height: 15px;
    z-index: 10;
    cursor: pointer;
    // top: calc(50% - 30px);
    // top: 50%;
    top: 115px;
  }

  &-prev {
    background-image: url(../img/icons/prev.svg);
    left: 12px;
    background-position: center left;
    padding: 0px 0 10% 10%;
    transform: translateY(-50%);
  }

  &-next {
    right: 12px;
    background-image: url(../img/icons/next.svg);
    background-position: center right;
    padding: 0px 0 10% 10%;
    transform: translateY(-50%);
  }

  &-stories-line {
    display: flex;
    padding-top: 9px;
    justify-content: center;
    margin-top: 20px;
    gap: 4px;

    .stories-line {
      background: green;
      opacity: 0.5;
      border-radius: 24px;
      height: 3px;
      width: 100%;

      &::after {
        position: absolute;
        content: "";
        border-radius: 24px;
        height: 100%;
        width: 0%;
        transition: width 2.5s ease;
      }

      &-active {
        background: green;
        position: relative;

        &::after {
          width: 100%;
          background-color: blue;
        }
      }

      &.line-active {
        background: blue;
      }
    }
  }
  &_flex {
    @include desktop-sm {
      margin-left: 300px;
      width: calc(100% - 300px);
    }
  }
  &-arrows {
    margin: 0 auto;
    margin-top: 106px;
    display: flex;
    gap: 94px;
  }
  &-prev-arrow,
  &-next-arrow {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url(../img/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &-prev-arrow {
    transform: rotate(90deg);
  }
  &-next-arrow {
    transform: rotate(-90deg);
  }
}

.newsSwiper {
  padding-bottom: 50px;
  @include desktop-sm {
    padding-bottom: 110px;
  }
}

.otherProjects {
  padding-bottom: 50px;
  @include desktop-sm {
    padding-bottom: 110px;
  }
}

.featuresSwiper {
  padding-bottom: 50px;
  @include desktop-sm {
    padding-bottom: 0;
  }
}

.hit__swiper {
  padding-bottom: 50px;
  @include desktop-sm {
    padding-bottom: 0;
  }
}
