@import "burger";

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.m {
  &-b {
    &--10 {
      margin-bottom: 10px;
    }

    &--20 {
      margin-bottom: 20px;
    }

    &--30 {
      margin-bottom: 30px;
    }
  }
}

.p {
  &-b {
    &--10 {
      padding-bottom: 10px;
    }

    &--20 {
      padding-bottom: 20px;
    }

    &--30 {
      padding-bottom: 30px;
    }

    &--40 {
      padding-bottom: 40px;
    }
  }
}

.transform {
  &-y {
    &---12 {
      transform: translateY(-12px);
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.title {
  font-family: DinCyMd, sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;

  &>span:first-child {
    position: relative;
    z-index: 10;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      bottom: 5px;
      left: 0;
      z-index: -1;
      background-color: $accent;
    }
  }
}

.title_primary {
  &>span:first-child {
    position: relative;
    z-index: 10;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      bottom: 5px;
      left: 0;
      z-index: -1;
      background-color: $primary;
    }
  }
}

.button {
  &__wrapper {
    position: relative;
  }

  &__group {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    // &::after,
    // &::before {
    //   position: absolute;
    //   content: "";

    //   height: 100%;
    // }

    // &::after {
    //   left: 0;
    //   width: 0px;
    //   transition: width 0.2s ease;
    //   background: linear-gradient(90deg, #fff, transparent);
    // }
    // &::before {
    //   right: 0;
    //   width: 30px;
    //   background: linear-gradient(270deg, #fff, transparent);
    // }
    // &_active {
    //   &::after {
    //     width: 30px;
    //   }
    // }
  }

  &__round {
    white-space: nowrap;
    border-radius: 100px;
    padding: 6px 13px;
    font-size: 12px;
    color: $border;
    background: transparent;
    border: 1px solid $border;
    line-height: 16px;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:last-child {
      margin-right: 25px;
    }

    &_active {
      background: $accent;
      border: 1px solid $accent;
      color: #fff;
    }
  }

  width: 100%;
  display: block;
  padding: 20px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;

  &_accent {
    color: #fff;
    background-color: $accent;
  }

  &_brown {
    color: #fff;
    border: 1px solid $brown;
    background-color: $brown;
  }

  &_border {
    border: 1px solid $border;
    color: $black;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    background-color: transparent;

    &-white {
      border: 1px solid #fff;
      color: #fff;
    }
  }

  &_blue {
    color: #fff;
    border: 1px solid #0099e0;
    background-color: #0099e0;
  }

  &_l {
    margin-right: 8px;
  }

  // &_black {
  //   background-color: #000;
  //   color: #fff;
  // }
}

.circle {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;

  &_active {
    background-color: $primary;
  }
}

.line {
  background: #fff;
  height: 1px;
  width: 43px;

  &_active {
    background: $primary;
  }
}

.filter {
  background: #e5e7ea;
  border-radius: 4px;
  height: 24px;
  width: 24px;
}

.number {
  font-family: DinCyLt, sans-serif;
  color: $number;
  font-size: 64px;
  // line-height: 82px;
  line-height: 100%;
  letter-spacing: -0.08em;
  z-index: 9;

  @include desktop-sm {
    font-size: 140px;
  }
}

.label-text {
  font-size: 7px;
  line-height: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.pie {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  // margin-bottom: 8px;
  object-fit: scale-down;
  display: flex;
  flex-shrink: 0;

  &>img {
    width: 50%;
    margin: 0 auto;
  }

  &_primary {
    background: $primary;
  }

  &_blue {
    background: #0099e0;
  }

  &_white {
    background: #fff;
  }

  &_small {
    width: 24px;
    height: 24px;
  }

  &_big {
    width: 48px;
    height: 48px;
  }

  &_accent {
    background: $accent;
  }

  &__play {
    width: 64px;
    height: 64px;
    background: linear-gradient(180deg,
        #fe497f -20.21%,
        #ed1556 28.44%,
        #d10945 74.14%,
        #d10945 74.14%);

    &_lg {
      width: 48px;
      height: 48px;
    }
  }
}

.square {
  width: 24px;
  height: 24px;
  background-color: #e5e7ea;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;

  &>span {
    display: inline-block;
    height: 13px;
    width: 1px;
    border-radius: 1px;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";
      height: 4px;
      width: 1px;
      background-color: #fff;
      transition: background-color 0.2s ease-in-out;
    }

    &:nth-child(1) {
      margin-right: 6px;

      &::after,
      &::before {
        bottom: 0;
        left: 0;
      }

      &::after {
        transform: rotate(-45deg) translateX(-1.5px);
      }

      &::before {
        transform: rotate(45deg) translateX(1.5px);
      }
    }

    &:nth-child(2) {

      &::after,
      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        transform: rotate(45deg) translateX(-1.5px);
      }

      &::before {
        transform: rotate(-45deg) translateX(1.5px);
      }
    }
  }

  &:hover {
    background-color: darken(#e5e7ea, 10%);
  }

  &_active {
    &>span {
      background-color: #0099e0;

      &::after,
      &::before {
        background-color: #0099e0;
      }
    }
  }
}

.link {
  display: block;
  color: $primary;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
  line-height: 130%;
  margin-top: 30px;
}

.label {
  &-wrapper {
    padding-top: 10px;
    position: relative;
  }

  position: absolute;
  width: 88px;
  z-index: 9;
  right: 11px;
  top: 0px;

  &__text {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    padding: 2px 0px;
    margin: auto;
    // transform: translate(50%, 50%);
    text-align: center;
    width: calc(100% - 22px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7px;
  }
}

.card {
  position: relative;
  border-radius: 4px;
  background: #fff;
  flex-grow: 1;
  overflow: hidden;
  gap: 20px;

  @include desktop-sm {
    max-width: 420px;
    flex-basis: 420px;
  }

  // &:not(:last-child) {
  //   margin-bottom: 20px;
  // }

  &_label {
    padding-top: 10px;
  }

  &__label {
    position: absolute;
    width: 88px;
    z-index: 9;
  }

  &__location {
    &_p {
      position: absolute;
      left: 29px;
      top: 20px;
    }
  }

  &__image {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;
    filter: brightness(70%);
  }

  &__container {
    position: relative;
    padding: 20px 22px;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;

    &_l {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &_bg {
      background-color: $secondary;
      color: #ffffff;
      border: none;
    }

    &_r {
      align-self: flex-end;
      margin-bottom: 5px;
    }

    &_absolute {
      z-index: 9;
      position: absolute;
      top: -20px;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__address {
    color: #8f959b;
    margin-bottom: 6px;
  }

  &__content {
    display: flex;
    align-items: flex-end;

    &_s {
      margin-bottom: 14px;
    }

    &-image {
      margin-right: 11px;
      margin-bottom: 5px;
    }
  }

  &__title {
    margin-right: 12px;
  }

  &__text {
    margin-top: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-right: 13px;
  }

  .label {
    right: 11px;
    top: 0px;

    &__text {
      position: absolute;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      left: 0;
      right: 0;
      top: 0;
      top: 0;
      bottom: 0;
      color: #fff;
      padding: 2px 0px;
      margin: auto;
      // transform: translate(50%, 50%);
      text-align: center;
      width: calc(100% - 22px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 7px;
    }
  }

  &__info {
    display: flex;
    white-space: nowrap;
    margin-bottom: 14px;

    :not(:last-child) {
      margin-right: 18px;
    }
  }

  &__region-size-title,
  &__dedlain-title {
    color: #8f959b;
    font-size: 12px;
    line-height: 16px;
  }

  &__region-size-text,
  &__dedlain-text {
    flex-grow: 1;
    font-size: 16px;
    line-height: 21px;
  }

  //user
  &-user {

    // max-width: 139px;
    // width: 100%;
    &__img {
      width: 100%;
      height: 190px;
      margin-bottom: 14px;
    }

    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 6px;
    }

    &__position {
      margin-bottom: 4px;
      color: #b5b9be;
    }

    &__email {
      font-weight: 500;
      color: $primary;
    }
  }

  //big
  &-big {
    &__img {
      width: 100%;
    }

    &__img,
    &__text,
    &__slider {
      margin-bottom: 30px;
    }

    &__nav-arrows {
      display: flex;
      justify-content: space-between;

      &>* {
        color: $black;
        padding: 13px;
        border: 1px solid $border;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 139px;
        width: 100%;
      }

      &>*:first-child {
        padding-right: 26px;
        padding-left: 13px;
        margin-right: 16px;
      }

      &>*:last-child {
        padding-right: 13px;
        padding-left: 26px;
      }
    }

    &__arrow-right {
      transform: rotate(180deg);
    }
  }

  //flat
  &-flat {
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    &__image {
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      display: block;
    }

    &__container {
      padding: 20px 22px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }

    &__date {
      color: #8f959b;
      margin-bottom: 6px;
    }

    &__text {
      font-size: 18px;
      line-height: 120%;

      @include desktop-sm {
        font-size: 26px;
      }
    }
  }

  //survey
  &-survey {
    cursor: pointer;
    border-radius: 4px;
    min-height: 50px;
    height: 100%;
    background-color: $primary;
    display: flex;

    align-items: center;
    color: #fff;
    padding: 9px 12px 9px 20px;
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &_opacity {
      opacity: 0.5;
      padding-left: 30px;
      z-index: 10;
    }

    &_first {
      position: relative;
      padding-left: 30px;
      padding-right: 105px;

      &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        left: 12px;
        top: 50%;
        background-image: url(../img/icons/survey-check.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);
      }

      &::before {
        position: absolute;
        content: "Проголосовать";
        right: 10px;
        color: #0099e0;
      }
    }

    &_first &__numb {
      display: none;
    }

    &__wrapper {
      z-index: 9;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__progress {
      position: absolute;
      height: 100%;
      width: 0;
      left: 0;
      background-color: #0099e0;
      transition: width 1s ease;
      opacity: 0.5;
    }

    &_active>&__progress {
      opacity: 1;
      background-color: #0099e0;
    }

    &__numb {
      // display: contents;
      z-index: 3;
      width: 30px;
      text-align: left;
      margin-left: 24px;
      position: relative;
    }

    &_active {
      // background-color: ;
    }

    &_active>&__wrapper>&__numb::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      left: -14px;
      top: 50%;
      background-image: url(../img/icons/survey-check.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }

  //fitler
  &-filter {
    &__wrapper {
      position: relative;
    }

    z-index: 10;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    bottom: -10px;
    transform: translateY(100%);
    width: 210px;
    right: 0;
    // min-width: 180px;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    filter: drop-shadow(0px 47px 19px rgba(0, 0, 0, 0.01)) drop-shadow(0px 26px 16px rgba(0, 0, 0, 0.05)) drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.09)) drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));

    &_open {
      max-height: 100vh;
    }

    &__item {
      width: 100%;
      display: block;
      padding: 7px 9px;
      color: #8f959b;
      transition: all 0.2s ease-in;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;

      &:not(:last-child) {
        border-bottom: 1px solid #e5e7ea;
      }

      &_active {
        background-color: #e5e7ea;
        color: #000;
      }
    }
  }
}

.form {
  padding: 40px 21px;
  background-color: $primary;
  border-radius: 4px;
  color: #fff;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-top: -10px;
    margin-bottom: 20px;
  }

  &__check {
    font-size: 10px;
    line-height: 100%;
    color: #f2f2f2;
  }
}

.location {
  display: flex;
  align-items: center;
  z-index: 9;

  &__image {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: scale-down;
    display: flex;

    img {
      margin: 0 auto;
      width: 50%;
    }
  }

  &__title {
    color: #fff;
  }
}

.content-round {
  padding-left: 21px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;

  &__title {
    color: #fff;
    margin-right: 12px;
  }

  &__wrapper {
    flex-shrink: 0;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 0.5px;
      background-color: $primary;
      transform: translateX(-50%);
    }

    &::after {
      bottom: 0;
      top: 75px;
      left: 50%;
      height: 40px;
    }

    &::before {
      top: -40px;
      left: 50%;
      height: 40px;
    }
  }

  &__image {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: block;
  }
}

.bread-crumbs {
  margin-bottom: 23px;
  padding: 7px 0;
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;

  >*:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &>* {
    color: $primary;
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      padding-right: 12px;
    }

    &:not(:first-child) {
      // padding-left: 9px;
    }

    &:last-child {
      color: #b5b9be;
    }

    &:not(:last-child)::before {
      position: absolute;
      content: "/";
      color: $border;
      top: 0;
      right: 3px;
    }
  }
}

.arrow-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-arrow {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background-color: $primary;
  right: 8px;
  bottom: 56px;
  z-index: 1000;
  display: none;
  opacity: 0;
}

.show-arrow {
  animation: showarrow 1s ease-in-out;
  opacity: 1;
}

.hidden-arrow {
  animation: hiddenarrow 1s ease-in-out;
  opacity: 0;
}

@keyframes showarrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hiddenarrow {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.markers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 14px;
  margin-bottom: 41px;
  // column-gap: 18px;
}

.marker {
  display: flex;
  align-items: center;

  &__pie {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    margin-right: 8px;

    &_loose {
      background-color: #58b368;
    }

    &_sold {
      background-color: #ed1556;
    }

    &_booked {
      background-color: #eeac0d;
    }

    &_ready {
      background-color: #0099e0;
    }
  }

  &__text {
    white-space: nowrap;
  }
}

.navigation {
  &__card {
    position: relative;
    width: 100%;

    &>img {
      width: 100%;
    }

    &-title {
      position: absolute;
    }

    &_round {
      border-radius: 4px;
      overflow: hidden;
    }

    &_bg {
      position: absolute;
      bottom: 0;
      max-width: 100%;
      width: calc(100% - 12px - 32px);
      border-radius: 4px 4px 0 0;
      background: rgba(49, 62, 72, 0.8);
      margin: 0 6px;
      padding: 7px 16px;
    }
  }
}

// .card {
//   border-radius: 4px;
//   border: 1px solid #e5e7ea;
//   &__top {
//   }

//   &__bottom {
//     padding: 20px 22px;
//   }
// }

.video {
  padding-top: 30px;
  padding-bottom: 50px;
  background: $secondary url("../img/video_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 100vh;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__cards {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__location {
    margin-bottom: 7px;
  }

  &__play {
    display: flex;
    align-items: center;
  }

  &__play-text {
    margin-left: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #e5e7ea;
  }
}

.plan {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    &__img {
      margin-bottom: 10px;
    }
  }
}

.communications {
  background: $primary;
  border-radius: 4px;
  padding: 40px 21px;

  &__title {
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 10px;
    margin-bottom: 30px;
  }

  &__card {
    &-icon {
      width: 64px;
      height: 64px;
      border-radius: 99999px;
      background-color: $secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 14px;
      object-fit: none;
    }

    &-title {
      text-align: center;
    }
  }
}

.plan {
  position: relative;
  margin-bottom: 21px;

  &__map {
    position: relative;
    height: 45vh;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    /* хром, сафари */

    /* ie 10+ */

    -ms-overflow-style: none;

    &>img {
      max-width: inherit !important;
      height: 100%;
      width: auto;
    }

    &>svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: visible !important;
    }

    &>svg polygon {
      fill: #ff3333;
      fill-opacity: 0.5;
      stroke: #ff3333;
      stroke-width: 2px;

      &.free {
        fill: #8dc257;
        fill-opacity: 0.5;
        stroke: #fff;
        stroke-width: 2px;
      }
    }

    &>svg rect {
      fill: #000;
      fill-opacity: 0.5;
    }

    &>svg text {
      font-size: 20px;
      line-height: 1;
      letter-spacing: 0.05em;
      text-anchor: middle;
      fill: #fff;
    }
  }

  &__map::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;

    &-arrows {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
    }

    &-count {
      padding: 5px 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
    }

    &-numb {
      font-size: 16px;
      line-height: 130%;
    }
  }
}

.year-circle {
  width: 96px;
  height: 96px;
  border-radius: 9999px;
  background-color: $primary;
  border: 7px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}