.title {
  font-family: DinCyLt, sans-serif;
  color: #fff;
  & > span:first-child {
    position: relative;
    z-index: 10;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      bottom: 5px;
      left: 0;
      z-index: -1;
      background-color: $accent;
    }
  }
}

.button {
  &__round {
    border-radius: 100px;
    padding: 6px 13px;
    font-size: 12px;
    color: #c3cad1;
    background: transparent;
    border: 1px solid #c3cad1;
    line-height: 16px;
    &_active {
      background: $primary;
      border: 1px solid $primary;
      color: #fff;
    }
  }
  width: 100%;
  display: block;
  padding: 22px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $accent;
  &_accent {
    color: #fff;
    background-color: $accent;
  }
  &_border {
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    background-color: transparent;
  }
  // &_black {
  //   background-color: #000;
  //   color: #fff;
  // }
}

.circle {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  &_active {
    background-color: $primary;
  }
}

.line {
  background: #fff;
  height: 1px;
  width: 43px;
  &_active {
    background: $primary;
  }
}

.filter {
  background: #e5e7ea;
  border-radius: 4px;
  height: 24px;
  width: 24px;
}

.number {
  font-family: DinCyLt, sans-serif;
  color: $primary;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.08em;
}

.label-text {
  font-size: 7px;
  line-height: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.pie {
  background: $primary;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-bottom: 8px;
}

.card {
  position: relative;
  border-radius: 4px;
  background: #fff;
  &__label {
    position: absolute;
  }
  &__image {
    width: 100%;
    margin-bottom: 20px;
  }
  &__container {
    padding: 0 22px 20px;
  }
  &__address {
    color: #8f959b;
    margin-bottom: 6px;
  }

  &__content {
    display: flex;
    align-items: end;
    margin-bottom: 14px;
  }
  &__title {
    margin-right: 12px;
  }
  &__info {
    display: flex;
    white-space: nowrap;
    :not(:last-child) {
      margin-right: 18px;
    }
  }

  &__region-size-title,
  &__dedlain-title {
    margin-bottom: 6px;
    color: #8f959b;
  }
  &__region-size-text,
  &__dedlain-text {
    flex-grow: 1;
    font-size: 8px;
    line-height: 10px;
  }
}

.image__round {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: block;

  margin-bottom: 40px;
  &-wrapper {
    flex-shrink: 0;
    position: relative;
    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 0.5px;
      background-color: $primary;
      transform: translateX(-50%);
    }
    &::after {
      bottom: 0;
      top: 75px;
      left: 50%;
      height: 100%;
    }
    &::before {
      top: -40px;
      left: 50%;
      height: 40px;
    }
  }
}

.label {
  right: 11px;
  top: -6px;
  &__text {
    // z-index: 10;
    position: absolute;
    font-size: 7px;
    color: #fff;
    line-height: 8px;
    top: 0;
    padding: 5px 14px;
    // transform: translate(50%, 50%);
    text-align: center;
    width: 100%;
  }
}
