$primary: #007bfb;
$secondary: #313e48;
$accent: #847a54;

$black: #212529;
:root {
  // #007BFB
  // #313E48
  // #847A54

  // #00557B

  //text opacity
  // #C3CAD1

  // 300
  // 400
  // 500
  // 700
  //паддиннг по бокам мобилка
  // 16px

  //расстояние между блоками
  // 21px

  //большая кнопка
  // color: #847A54;
  // padding: 22px;

  //кнопка с рамкой
  // border: 1px solid #847A54;
  // padding: 16px;

  //размер текста
  //   h2
  //   font-family: TT Norms;
  // font-style: normal;
  // font-weight: bold;
  // font-size: 96px;
  // line-height: 113px;
  // letter-spacing: 0.02em;

  // h3
  // font-family: DINCyr-Light;
  // font-style: normal;
  // font-weight: 300;
  // font-size: 64px;
  // line-height: 82px;
  // letter-spacing: -0.08em;

  // h4
  // font-family: DINCyr-Light;
  // font-style: normal;
  // font-weight: 300;
  // font-size: 26px;
  // line-height: 120%;
  // /* or 31px */

  // letter-spacing: 0.04em;
  // text-transform: uppercase;

  // 26
  // 22
  // 16
  // 12
  // 8
  // 7
  // --primary: #007bfb;
  // --secondary: #313e48;
  // --accent: #847a54;

  // --button-primary: #2a31d7;
  // --button-primary_darken: #1016a7;
  // --bg-color: #e5e5e5;

  // --bg-button: #fec600;
  // --bg-button_darken: #e3ad00;
  // --border-color: #ffffff;
  // --gap-m: 15px;
  // --gap: 150px;

  // --question-gap-dekstop: 57px;
  // --question-gap-mobile: 51px;
}
