.video {
  // padding-top: 30px;
  padding-bottom: 50px;
  background: $secondary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 100%;

  @include desktop-sm {
    padding-bottom: 0;
    height: auto;
  }

  &__top {
    @include desktop-sm {
      order: 2;
      /* flex-grow: 1; */
      width: 50%;
    }

    & .glightbox {
      display: none;

      @include desktop-sm {
        display: block;
      }
    }

    &-image {
      width: 220px;
      height: 130px;
      margin-left: auto;

      @include desktop-sm {
        object-fit: cover;
        width: 100%;
        height: 700px;
      }
    }
  }

  &__bottom {
    flex-grow: 1;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop-sm {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include desktop-sm {
      flex-direction: row;
      align-items: center;
      gap: 120px;
    }
  }

  &__cards {
    margin-bottom: 40px;

    &.features__cards {
      @include desktop-sm {
        grid-template-columns: repeat(4, 200px);
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 2px;

    @include desktop-sm {
      margin-bottom: 10px;
      font-size: 48px;
      line-height: 100%;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #e5e7ea;
  }

  &__block-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }

  &__info {
    width: 18px;
    height: 18px;

    @include desktop-sm {
      width: 24px;
      height: 24px;
    }
  }

  &__location {
    margin-bottom: 20px;
  }

  &__play {
    display: flex;
    align-items: center;
  }

  & &__play {
    margin-bottom: 20px;

    @include desktop-sm {
      display: none;
    }
  }

  &__play-text {
    margin-left: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #e5e7ea;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include desktop-sm {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}
