@import "~reset-css";
@import "~normalize.css";
@import "glightbox/dist/css/glightbox.css";
@import "vars";
@import "mixins";
@import "settings";
@import "fonts";
@import "input";
@import "popup";
@import "ui";
@import "./swiper";
@import "style";
@import "dropdown";
@import "sidebar";
@import "header";
@import "built";
@import "ready";
@import "hit";
@import "settlements";
@import "service";
@import "project";
@import "features";
@import "sculpture";
@import "diagram";
@import "news";
@import "application";
@import "distance";
@import "checkbox";
@import "accardion";
@import "calc";
@import "explore";
@import "video";
@import "plans";
@import "points";
@import "settlements-map";
@import "service-settlement";
@import "contacts";
@import "neighbors";
@import "visualization";
@import "sections/interior";
@import "sections/mortgage";
@import "sections/results";
@import "sections/complex";
@import "sections/comands";
@import "sections/road-map";
@import "sections/redemption";
@import "sections/advantages";
@import "sections/review";
@import "sections/news";
@import "sections/news-item";
@import "sections/location-home";
@import "sections/about-settlement";
@import "sections/services";
@import "sections/documents-homeowners";
@import "sections/ready-homes";
@import "sections/region";
@import "sections/requisites";
@import "sections/about-work";
@import "sections/vacance";
@import "sections/form";

@import "footer";

@import "plugins/toggle";
@import "plugins/popup-info";
@import "plugins/glightbox";
@import "plugins/slider-popup";

.title-br {
  @include desktop-tablet {
    display: none;
  }
}

.section {
  padding: 20px 0 40px;

  @include desktop-desktop {
    padding: 40px 0 120px;
  }

  &-pb0 {
    padding-bottom: 0 !important;
  }
  &-pt80 {
    padding-top: 80px !important;
  }
  &:not(:first-child) {
    padding: 40px 0 40px;

    @include desktop-tablet {
      padding: 40px 0;
    }
    @include desktop-laptop {
      padding: 50px 0;
    }
    @include desktop-desktop {
      padding: 120px 0 120px;
    }
  }

  &__bg {
    &_secondary {
      background-color: $secondary;
      color: #fff;
    }
  }

  &__top {
    margin-bottom: 20px;

    @include desktop-desktop {
      margin-bottom: 40px;
    }

    & > .section__title {
      margin-bottom: 10px;
      @include desktop-tablet {
        margin-bottom: 0;
      }
    }

    &_first {
      display: none;

      @include desktop-desktop {
        display: block;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    @include desktop-tablet {
      font-size: 24px;
      line-height: 100%;
    }
    @include desktop-desktop {
      font-size: 48px;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__text {
    color: #b5b9be;
    margin-top: 10px;
    @include desktop-tablet {
      margin-top: 5px;
    }
    @include desktop-desktop {
      margin-top: 20px;
    }
  }

  &__btns {
    margin-bottom: 20px;
    position: relative;

    @include desktop-desktop {
      margin-bottom: 45px;
    }
  }

  &__crumbs {
    margin-bottom: 20px;
    @include desktop-tablet {
      margin-bottom: 13px;
    }
    @include desktop-desktop {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 130%;
    }
  }

  &-flex {
    display: block;

    @include desktop-tablet {
      display: flex;
      gap: 80px;
    }
    @include desktop-laptop {
      gap: 72px;
    }
    @include desktop-desktop {
      gap: 100px;
    }

    &__content {
      flex-grow: 1;
    }
  }
  &-flex__about-work {
    @include desktop-desktop {
      $space: $space-l-d + $gap + 100px;
      display: flex;
      justify-content: space-between;
      margin-left: 0;
      margin-right: $space;
      width: calc(100% - #{$space});
    }
    .section__bottom {
      @include desktop-tablet {
        width: 485px;
        margin-right: 0;
        margin-left: auto;
        font-size: 14px;
        line-height: 120%;
      }
      @include desktop-laptop {
        $space: $space-l-l + $gap-l + 100px;
        margin-right: $space;
        margin-left: auto;
        width: 356px;
      }
      @include desktop-desktop {
        margin: 0;
        font-size: 18px;
        width: 500px;
      }
    }
  }
}

.hit,
.distance,
.new-project {
  z-index: 111;
  padding-top: 40px;
  padding-bottom: 40px;

  @include desktop-desktop {
    padding: 120px 0;
  }
}

.development {
  color: $border;
  font-size: 10px;
  display: flex;
  column-gap: 10px;
  align-items: baseline;
}

.checkbox__link {
  color: #fff;
  text-decoration: underline;
}

.drop {
  @include desktop-tablet {
    display: none;
  }

  &__children {
    @include desktop-tablet {
      display: none;
    }
  }

  &_sq {
    position: absolute;
    right: 8px;
    bottom: 221px;

    z-index: 10;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  display: grid;
  gap: 4px;
  grid-template-areas: "A B" "C D";
  justify-content: center;
  align-content: center;
  transform: rotate(0deg) translate(0px, 0px);
  opacity: 1;
  transition: all 0.3s ease;

  & > span {
    width: 9px;
    height: 9px;
    border-radius: 2px;
    background-color: #fff;
    z-index: 10;
  }

  & > span:nth-child(1) {
  }

  & > span:nth-child(2) {
  }

  & > span:nth-child(3) {
  }

  & > span:nth-child(4) {
  }

  &_active {
    gap: 0px;
    transform: rotate(90deg);

    & > span {
      width: 2px;
      height: 20px;
    }

    & > span:nth-child(1) {
      transform: rotate(-45deg) translate(-6px, 8px);
    }

    & > span:nth-child(2) {
      opacity: 0;
    }

    & > span:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -8px);
    }

    & > span:nth-child(4) {
      opacity: 0;
    }
  }
}

.children {
  position: absolute;
  z-index: 10;
  right: 8px;

  &:nth-child(1) {
    bottom: 283px;
    right: -1000px;
  }

  &:nth-child(2) {
    bottom: 411px;
    right: -1000px;
  }

  &:nth-child(3) {
    bottom: 347px;
    right: -1000px;
  }
}

.children_close {
  &:nth-child(1) {
    bottom: 283px;
    right: 8px;
    animation-name: close;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-duration: 3s;
  }

  &:nth-child(2) {
    bottom: 411px;
    right: 8px;
    animation-name: close;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
  }

  &:nth-child(3) {
    bottom: 347px;
    right: 8px;
    animation-name: close;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-delay: 0.2s;
    animation-duration: 0.3s;
  }
}

.children_active {
  position: absolute;

  &:nth-child(1) {
    bottom: 283px;
    right: -1000px;
    animation-name: open;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
  }

  &:nth-child(2) {
    bottom: 411px;
    right: -1000px;
    animation-name: open;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    bottom: 347px;
    right: -1000px;
    animation-name: open;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    right: 8px;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    right: -1000px;
  }
}

.tab {
  transition: all 0.5s ease;
  margin-bottom: 10px;

  &_border {
    padding: 20px 22px;
    border: 1px solid #e5e7ea;
    border-radius: 4px;
  }

  &__top {
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    transition: all 1s ease;

    &::before {
      position: absolute;
      content: "";
      top: calc(50% - 7.5px);
      right: 0;
      background-image: url("../img/icons/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 10px;
      height: 6px;
      transform: translateY(-50%) rotate(0deg);
      transition: all 1s ease;
      @include desktop-tablet {
        top: 50%;
        width: 15px;
        height: 9px;
      }
      @include desktop-desktop {
        width: 20px;
        height: 12px;
      }
    }
  }
  &__title {
    padding-right: 20px;
    @include desktop-tablet {
      padding-right: 25px;
    }
    @include desktop-desktop {
      padding-right: 30px;
    }
  }

  &__bottom {
    transition: all 1s ease;
    height: 0;
    overflow: hidden;
  }

  &__content {
    color: #8f959b;
  }

  &_active.tab_border {
    padding: 30px 22px;
  }

  &_active &__top {
    margin-bottom: 14px;
  }

  &_active &__top::before {
    transform: translateY(-50%) rotate(180deg);
  }
}

.contact-arrow {
  &.active {
    .drop_sq {
      bottom: 3px;
    }
    .children {
      &:nth-child(1) {
        bottom: 62px;
      }
      &:nth-child(2) {
        bottom: 183px;
      }
      &:nth-child(3) {
        bottom: 124px;
      }
    }
  }
}

.plan-other {
  background: #292929;
  color: white;
  .title {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    @include desktop-tablet {
      top: 100px;
      left: 40px;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__back {
      cursor: pointer;
      text-decoration: underline;
      text-transform: uppercase;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 16px;
      & > a {
        color: white;
      }
    }
    &-static {
      padding: 40px 20px 0;
      margin-bottom: 30px;
      text-transform: uppercase;
      @include desktop-tablet {
        display: flex;
        justify-content: space-between;
        padding: 40px 40px 0;
        margin-bottom: 100px;
      }
    }
  }
  .desktop {
    display: none;
    @include desktop-tablet {
      display: block;
    }
  }
  .mobile {
    @include desktop-tablet {
      display: none;
    }
    .mobile-plan__drag-container {
      position: relative;
    }
    .icon-action {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 10;
    }
  }

  .text-approximate {
    position: absolute;
    bottom: 10px;
    right: 40px;
  }
  .markup {
    height: 100%;
    left: 0;
    overflow: visible !important;
    position: absolute;
    top: 0;
    width: 100%;
  }
  svg.choice-plot {
    z-index: 10;
    & > g {
      cursor: pointer;
    }
    & > g > text,
    text {
      fill: #fff;
      font: normal 8px Stolzl;
      @include desktop-tablet {
        font: normal 16px Stolzl;
      }
      @include desktop-desktop {
        font: normal 18px Stolzl;
      }
    }
  }

  g[data-status="free"] {
    & > path {
      fill: #245b20;
      fill-opacity: 0;
      stroke: #f8f8f8;
    }
    & > circle {
      fill: #56b361;
      stroke: #fff;
    }
  }

  g[data-status="booked"] {
    & > path {
      fill: #f7941d;
      fill-opacity: 0.28;
      stroke: #f7941d;
    }
    & > circle {
      fill: #f7941d;
      stroke: #fff;
    }
  }

  g[data-status="sold"] {
    & > path {
      fill: #a61c20;
      fill-opacity: 0.28;
      stroke: #a61c20;
    }
    & > circle {
      fill: #a61c20;
      stroke: #fff;
    }
  }
}
.plan__map-mobile {
  & > img {
    width: 100%;
  }
}
.popup-card {
  display: none;
  transition: all 0.3s ease;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 40;
  &--count {
    width: 260px;
    .popup-card__content {
      padding: 16px;
      background: white;
      color: #292929;

      .title {
        font-size: 2.25rem;
        line-height: 90%;
      }
      & .grid {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        &__title {
          font-size: 0.75rem;
          line-height: 140%;
          margin-bottom: 0.125rem;
          letter-spacing: -0.02em;
          color: #98999d;
        }
        &__subtitle {
          font-size: 1.5rem;
          line-height: 1.75rem;
        }
      }
    }
  }
  &--box {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    @include desktop-laptop {
      height: auto;
      width: auto;
      backdrop-filter: none;
    }
    .popup-card__close {
      border-radius: 100%;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      @include desktop-laptop {
        display: none;
      }
    }
    .popup-card__content {
      width: 335px;
      margin: 0 20px;
      color: #231f20;
      .grid {
        display: flex;
        gap: 14px;
        padding: 8px;
        background: white;
      }
    }
    .popup-card__btn {
      background: #f7941d;
      font-size: 1rem;
      line-height: 140%;
      padding: 8px 0;
      text-align: center;
      & > a {
        color: white;
      }
    }
  }
  &.active {
    display: block;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .type {
    color: white;
    border-radius: 6px;
    padding: 2px 8px;
    text-align: center;
  }
  .free {
    .type {
      background: #2f7144;
    }
  }
  .booked {
    .type {
      background: #f7941d;
    }
  }
  .sold {
    .type {
      background: #a61c20;
    }
    img {
      filter: grayscale(100%);
    }
  }
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
